{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Branch Settings: {{ form.instance.branch.name }} - Pawnshop Management System{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">
                        <i class="fas fa-cog me-2"></i>Branch Settings: {{ form.instance.branch.name }}
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        
                        <div class="card bg-light mb-4">
                            <div class="card-header">
                                <h5 class="mb-0"><i class="fas fa-money-bill-wave me-2"></i>Loan Settings</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form.max_loan_amount|as_crispy_field }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form.default_interest_rate|as_crispy_field }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ form.loan_duration_days|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.grace_period_days|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.auction_delay_days|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card bg-light mb-4">
                            <div class="card-header">
                                <h5 class="mb-0"><i class="fas fa-shield-alt me-2"></i>Security Settings</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.require_id_verification|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.enable_face_recognition|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card bg-light mb-4">
                            <div class="card-header">
                                <h5 class="mb-0"><i class="fas fa-bell me-2"></i>Notification Settings</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.enable_sms_notifications|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.enable_email_notifications|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                            <a href="{% url 'branch_detail' form.instance.branch.id %}" class="btn btn-outline-secondary me-md-2">
                                <i class="fas fa-times me-2"></i>Cancel
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save me-2"></i>Save Settings
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}